/*This is body styling.*/
body {
  font-family: arial;
  font-size: 14px;
}
/*This is overall container.*/
div#flex-main-container {
  padding: 0;
  list-style: none;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}
/*This is nav bar styling.*/
header#flex-nav-bar {
  background-color: white;
  text-align: left;
  position: fixed;
  top: 0;
  width: 98%;
}
header.hidden-nav-bar {
  flex: 1 100%;
  border: 2px solid black;
  border-radius: 4em;
  background-color: black;
  margin: 1em 1em 1em auto;
  text-align: left;
  position: static;
  top: 0;
  width: 100%;
  visibility: hidden;
}
img.logo {
  border: 2px solid gray;
  display: inline-block;
  width: 40%;
  margin-top: 10px;
}
#message-box {
  border: 2px solid gray;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
div.input-style {
  display: inline-block;
}
div.checkbox-format {
    color: black;
    margin-top: 7px;
    margin-left: 210px;
}
.dark-theme1 {
  background-color: gray;
  color: white;
}
.large-text {
  font-size: 22px;
}

